.bio {
    padding-left: 40px;
    padding-top: 50px;
    img {
        padding: 20px;
        display: inline-block;
        max-width: 600px;
    }
    div {
        padding-top: 40px;
        vertical-align: top;
        display: inline-block;
    }
}
